  <section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
           My interest in programming started in University while studying Information Technology, where it held my interest. I then joined <a href="https://www.moringaschool.com/">Moringa School</a>, a software developer accelerator and went through a 4 month intensive study period where I covered web development, mobile development, python and django framework.
        </p>
        <p>
           I love learning new things.My goal is to learn as much as possible in any direction that my curiosity takes me.
        </p>
        <p><a href="https://www.linkedin.com/in/james-olal/">See my Linkedin profile</a> for more details.</p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Part of the Android development team that built,<a href="https://afyapepe.com"> AfyaPepe</a>. A mobile app that organizes health information by connecting patients, medical facilities, laboratories and pharmacies onto one platform.
    			</li>
          <li>
            Part of the Android development team that built, <a href="https://play.google.com/store/apps/details?id=com.wrx.quickeats">QuickEats</a>. A food ordering app which connects hungry users with a variety of local restaurants.
            </li>
            <li>
             <a href="https://drive.google.com/file/d/1C4RKKBoHBACJ_yfYp4JVklC_nEV4HBwQ/view?usp=sharing">Certificate</a> of completion, Google Africa Scholarship Android Developer Course.
            </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
