<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
            <br><br>
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Reading</b>. By reading, I am exposed to so many wonderful things. Plus my life depends on it!
			  </li>
			  <li>
				  <b>Animations and Animes</b>. I get to escape from reality and as a result it feels good for a while.
			  </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          QuickEats is a food ordering app which connects hungry users with a variety of local restaurants.
    		</li>
  			<li>
          <a href="https://github.com/OlalKeith/demo2-news-api-android">NewsToday:</a> Android application that interfaces with the public <a href="https://newsapi.org/">News API ,</a>(personal project).
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteer as a data clerk at Bomu Medical Clinic , Mombasa, Kenya.
  			</li>
<!--   			<li>
  			  Active member of The Seattle Ruby on Rails Developers Meetup Group.
  			</li> -->
		   </ul>
      </div>
    </div>
  </div>
</section>
