<!doctype html>
<html lang="{% if page.locale %}{{ page.locale }}{% else %}{{ site.plainwhite.html_lang }}{% endif %}">
  <head>
    {%- include head.html -%}
  </head>

  {%- if site.plainwhite.condensed_mobile contains page.layout -%}
    {% assign condensed_class = 'condensed' -%}
  {%- else -%}
    {%- assign condensed_class = '' -%}
  {%- endif -%}

  <body>
    <main class="container">
      <section class="about">
        <div class="about-header {{condensed_class}}">
          <div class="about-title">
            {%- assign today = site.time | date: '%m-%d' %}

            {%- assign valentines_start = '02-01' -%}
            {%- assign valentines_end = '02-14' -%}

            {%- assign xmas_start = '12-01' -%}
            {%- assign xmas_end = '12-25' -%}

            {%- assign portfolio_image = site.plainwhite.portfolio_image.default -%}
            {%- assign portfolio_image_dark = site.plainwhite.portfolio_image_dark.default -%}
            {%- if today >= valentines_start and today <= valentines_end -%}
              {%- assign portfolio_image = site.plainwhite.portfolio_image.valentines_day -%}
              {%- assign portfolio_image_dark = site.plainwhite.portfolio_image_dark.valentines_day -%}
            {%- elsif today >= xmas_start and today <= xmas_end -%}
              {%- assign portfolio_image = site.plainwhite.portfolio_image.xmas -%}
              {%- assign portfolio_image_dark = site.plainwhite.portfolio_image_dark.xmas -%}
            {%- endif %}
            <a href="{{ "/" | relative_url }}">
              <img class="light" src="{{ site.baseurl }}/{{ portfolio_image }}" alt="{{ site.plainwhite.name }}">
              {%- if site.plainwhite.portfolio_image_dark and site.plainwhite.dark_mode %}
                <img class="dark" src="{{ site.baseurl }}/{{ portfolio_image_dark }}" alt="{{ site.plainwhite.name }}">
              {%- endif %}
            </a>
            <h2 id="title">
              <a href="{{ "/" | relative_url }}">{{ site.plainwhite.name }}</a>
            </h2>
          </div>
          {%- if site.plainwhite.tagline %}
            <p class="tagline">{{ site.plainwhite.tagline }}</p>
          {%- endif %}
        </div>
        {%- capture footer -%}
      {%- if site.plainwhite.social_links != '' -%}
      <ul class="social about-footer {{condensed_class}}">
        {%- if site.plainwhite.social_links.github -%}
        <a rel="me" href="https://github.com/{{ site.plainwhite.social_links.github }}" target="_blank">
          <li>
            <i class="icon-github-circled"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.plainwhite.social_links.linkedin -%}
        <a rel="me" href="https://www.linkedin.com/in/{{ site.plainwhite.social_links.linkedin }}" target="_blank">
          <li>
            <i class="icon-linkedin-squared"></i>
          </li>
        </a>
        {%- endif -%}
        {%- if site.plainwhite.social_links.email -%}
        <a rel="me" href="mailto:{{ site.plainwhite.social_links.email }}" target="_blank">
          <li>
            <i class="icon-mail"></i>
          </li>
        </a>
        {%- endif -%}
      </ul>
      {%- endif -%}
      {%- if site.plainwhite.navigation -%}
      <nav class="navigation about-footer {{condensed_class}}">
        <ul>
          {% for link in site.plainwhite.navigation %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {%- endif -%}
      <p class="about-footer {{condensed_class}}">&copy; {{ "now" | date: "%Y" }} {{ site.plainwhite.name }}</p>
      {% endcapture %}
        {{ footer }}
      </section>
      <section class="content">
        {{ content }}
      </section>
      <footer class="{{condensed_class}}">
        {{ footer }}
      </footer>
    </main>
    {% if site.plainwhite.dark_mode %}
      <script type="text/javascript" src="{{ site.baseurl }}/assets/js/darkmode.js"></script>
    {% endif %}

    {%- if site.plainwhite.analytics_id -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ site.plainwhite.analytics_id }}');
      </script>
    {%- endif -%}

    {% if site.plainwhite.search %}
      <script src="{{ site.baseurl }}/assets/js/simple-jekyll-search.min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/search.js"></script>
    {% endif %}
  </body>
</html>
{% comment %}
  vim: ft=liquid
{% endcomment %}
